.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.profile h1 {
  font-size: 36px;
  color: #f9f9f9;
}

.name {
  color: #00df5e;
}

.profile p {
  font-size: 18px;
  color: #828282;
  margin: 20px 0;
}

.profile span {
  color: #00df5e;
}

.profile button {
  width: 143px;
  height: 42px;
  font-size: 14px;
}

.CVButton {
  background-color: #00df5e;
  margin-right: 10px;
  font-weight: bold;
  border: none;
}

.CVButton:hover {
  background-color: #ffffff;
  color: #00df5e;
}

.ContactButton {
  background-color: transparent;
  margin-right: 10px;
  border: 1px solid #333333;
  color: #f9f9f9;
}

.ContactButton:hover {
  color: #00df5e;
  border: 1px solid #00df5e;
}

.imageProfile {
  width: 300px;
  padding-right: 50px;
}

.imageProfile:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}