#services {
    margin-top: 100px;
    margin-bottom: 100px;
}

.containerServices {
    display: flex;
    justify-content: space-between;
}

.serviceCard {
    width: 290px;
    height: 180px;
    background-color: #333333;
    border-bottom: 4px solid #00DF5E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.serviceCard:hover {
    border-bottom: 4px solid #FFFFFF;
}

.serviceCard img {
    width: 56px;
    height: 56px;
}

.serviceCard p {
    font-size: 32px;
    color: #828282;
}