.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.624);
}

.containerModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0F0F0F;
    padding: 3rem;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImage {
    width: 450px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    border-radius: 10px;
    
}

.projectImage img {
    max-width: 450px;
    max-width: 400px;
    width: auto;
    height: auto;
}

.projectInformation {
    width: 450px;
    height: 400px;
    margin-left: 10px;
}

.projectTitle {
    color: #F9F9F9;
    font-size: 32px;
}

.projectSubtitle {
    font-size: 16px;
    margin-bottom: 15px;
    color: #00DF5E;
    font-weight: bold;
}

.projectDescription {
    font-size: 16px;
    margin-bottom: 15px;
    color: #7A7A7A;
}

.containerButtons {
    margin-top: 10px;
}

.containerButtons button {
    margin-right: 10px;
    border-radius: 20px;
    border: none;
    background-color: #90EE90;
    color: #000000;
    font-weight: 400;
    padding: 2px 6px;
}

.containerButtons button:hover {
    background-color: #FFFFFF;
    color: #00DF5E;
}

.technologies {
    font-size: 16px;
    margin: 10px 0;
    color: #FFFFFF;
    font-weight: bold;
}

.containerTechnologies img {
    width: 30px;
    height: 30px;
    margin: 0 2px;
}

.close {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #FFFFFF;
}

.close:hover {
    color: #fa0101;
}