header {
  display: flex;
  justify-content: space-between;
  color: #f9f9f9;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

nav {
  display: flex;
}

nav a {
  font-size: 18px;
  margin: 20px;
  text-decoration: none;
  color: #f9f9f9;
}

nav a:hover {
  color: #00df5e;
}