:root {
  font-family: "DM Sans", serif;
  background-color: #1E1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1140px;
}

header {
  display: flex;
  justify-content: space-between;
  color: #F9F9F9;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

nav {
  display: flex;
}

nav a {
  font-size: 18px;
  margin: 20px;
  text-decoration: none;
  color: #F9F9F9;
}

nav a:hover {
  color: #00DF5E;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.profile h1 {
  font-size: 36px;
  color: #F9F9F9;
}

.profile p {
  font-size: 18px;
  color: #828282;
  margin: 20px 0;
}

.profile span {
  color: #00DF5E;
}

.profile button {
  width: 143px;
  height: 42px;
  font-size: 14px;
}

.CVButton {
  background-color: #00DF5E;
  margin-right: 10px;
  font-weight: bold;
  border: none;
}

.CVButton:hover {
  background-color: #FFFFFF;
  color: #00DF5E;
}

.ContactButton {
  background-color: transparent;
  margin-right: 10px;
  border: 1px solid #333333;
  color: #F9F9F9;
}

.ContactButton:hover {
  color: #00DF5E;
  border: 1px solid #00DF5E;
}


.imageProfile {
  width: 300px;
  padding-right: 50px;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitles {
  text-align: center;
  color: #F9F9F9;
  font-size: 32px;
  margin-bottom: 30px;
}

.summary {
  width: 745px;
  text-align: center;
  color: #828282;
  font-size: 18px;
  margin: 10px 0;
}

.highlight {
  display: flex;
  margin-top: 10px;
}

.featuredCards {
  display: flex;
  flex-direction: column;
  max-width: 211px;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.iconInHighlights {
  width: 62px;
  height: 62px;
  background-color: #212121;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.iconInHighlights img {
  width: 32px;
  height: 32px;
}

.information {
  display: flex;
  flex-direction: column;
  max-width: 211px;
  justify-content: center;
  align-items: center;
}

.featuredCards h4 {
  font-size: 18px;
  color: #F9F9F9;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.featuredCards p {
  font-size: 16px;
  color: #828282;
}

#projects {
  margin: 50px 0;
}

.projectCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  max-width: 330px;
  height: 240px;
  background-color: #212121;
  border: 1px solid #333333;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin-top: 20px;
  justify-content: space-evenly;
}

.card:hover {
  border: 1px solid #00DF5E;
}


.cardImage {
  width: 300px;
  height: 130px;
  background-color: #171717;
  border: 1px solid #333333;
}

.cardTitle {
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 300;
}

.stacks {
  font-size: 14px;
  color: #828282;
  font-weight: 300;
  margin-top: 5px;
}

#services {
  margin-top: 100px;
  margin-bottom: 100px;
}

.containerServices {
  display: flex;
  justify-content: space-between;
}

.serviceCard {
  width: 290px;
  height: 180px;
  background-color: #333333;
  border-bottom: 4px solid #00DF5E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.serviceCard img {
  width: 56px;
  height: 56px;
}

.serviceCard p {
  font-size: 32px;
  color: #828282;
}

.containerSkills {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.skillCard {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #212121;
  border: 1px solid #333333;
}

.skillCard:hover {
  border: 1px solid #00DF5E;
}

.skillCard p {
  font-size: 14px;
  color: #828282;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 5px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.containerContact {
  background-color: #333333;
  width: 900px;
  max-width: 900px;
  height: 600px;
  border-radius: 30px;
  border: 1px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.containerInformation {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 90.5px;
}

.subtitleContact {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 143.2%;
}

.contactParagraph {
  font-size: 18px;
  color: #FFFFFF;
  width: 253px;
  height: 182px;
  margin: 20px 0 40px 0;
}

.contactDetails {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contactDetails figure {
  background-color: #707070;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.contactDetails img {
  width: 20px;
  height: 20px;
}

.contactDetails p {
  font-size: 15px;
  color: #FFFFFF;
}

.containerForm {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-right: 90.5px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.form input {
  width: 320px;
  height: 40px;
  background-color: #707070;
  border-radius: 10px;
  margin: 10px 0;
  border: none;
  padding-left: 20px;
}

.form input::-webkit-input-placeholder {
  color: white;
  font-size: 15px;
}

#yourMessage {
  height: 200px;
}

#yourMessage::-webkit-input-placeholder {
  bottom: 75px;
  position: relative;
}

.contactButton {
  width: 160px;
  height: 40px;
  border-radius: 10px;
  background-color: #00DF5E;
  border: none;
  color: #FFFFFF;
  margin-top: 10px;
  font-size: 15px;
}

.contactButton:hover {
  background-color: #FFFFFF;
  color: #00DF5E;
}