#aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitles {
  text-align: center;
  color: #F9F9F9;
  font-size: 32px;
  margin-bottom: 30px;
}

.summary {
  width: 745px;
  text-align: center;
  color: #828282;
  font-size: 18px;
  margin: 10px 0;
}

.highlight {
  display: flex;
  margin-top: 10px;
}

.featuredCards {
  display: flex;
  flex-direction: column;
  max-width: 211px;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.iconInHighlights {
  width: 62px;
  height: 62px;
  background-color: #212121;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.iconInHighlights img {
  width: 32px;
  height: 32px;
}

.information {
  display: flex;
  flex-direction: column;
  max-width: 211px;
  justify-content: center;
  align-items: center;
}

.featuredCards h4 {
  font-size: 18px;
  color: #F9F9F9;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.featuredCards p,
.featuredCards a {
  font-size: 16px;
  color: #828282;
  text-decoration: none;
}

.featuredCards a:hover{
  color: #00DF5E;
}